@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>MoneyTracker is a website developed by Ben as part of his unit in learning ASP.NET at Monash University. 
    I hope you can make use of it. This is still under development and more features and user-friendly features will 
    be implemented soon. Thank you for visiting this webpage.</p>
