@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>

<address>
    Monash University<br />
    Wellington Road, Clayton<br />
    Victoria - 3800<br />
    Australia<br />
    <abbr title="Phone">P:</abbr>
    +919496500131
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:benvargheset@gmail.com">Contact Me</a><br />
</address>