
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This page is off-limits.</h2>
<h3>Access to this page requires authorization. Please contact your admin to gain access to this page.</h3>
